name: Go

on:
  push:
    branches: [ master ]
    tags:
      - v*
  pull_request:
    branches: [ master ]

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: install deps
        run: |
          go mod tidy
          go install golang.org/x/tools/cmd/goimports@latest
          go install golang.org/x/lint/golint@latest
          go install github.com/mattn/goveralls@latest
      - name: static analysis
        run: |
          golint -set_exit_status
          go vet
          test -z "$(goimports -l .)"
      - name: Test
        run: goveralls -service=github
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}